<Configuration status="warn">

    <Appenders>

        <Console name="CONSOLE">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c - %m%n" />
        </Console>

<!-- uncomment the appenders that you want to use

        <CloudWatchAppender name="CLOUDWATCH">
            <logGroup>AppenderExample</logGroup>
            <logStream>Log4J2-Example-{date}-{hostname}-${awslogs:pid}</logStream>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c - %m%n" />
        </CloudWatchAppender>

        <KinesisAppender name="KINESIS">
            <streamName>AppenderExample</streamName>
            <autoCreate>true</autoCreate>
            <JsonLayout complete="false" compact="true" eventEol="true" properties="true" locationInfo="true">
                <KeyValuePair key="applicationName" value="Log4J2-Example" />
                <KeyValuePair key="environment" value="${sys:environment:-dev}" />
                <KeyValuePair key="accountId" value="${awslogs:awsAccountId}" />
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
                <KeyValuePair key="processId" value="${awslogs:pid}" />
                <KeyValuePair key="hostname" value="${awslogs:hostname}" />
            </JsonLayout>
        </KinesisAppender>

        <SNSAppender name="SNS">
            <topicName>AppenderExample</topicName>
            <subject>Error from Log4J2 example</subject>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c - %m%n" />
        </SNSAppender>
-->
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="CONSOLE" />

        </Root>
        <Logger name="com.kdgregory" level="debug">
<!-- uncomment the appenders that you want to use
            <AppenderRef ref="CLOUDWATCH" />
            <AppenderRef ref="KINESIS" />
            <AppenderRef ref="SNS" />
-->
        </Logger>
    </Loggers>

</Configuration>
