<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{24} - %X{requestUUID} - %msg%n</pattern>
        </encoder>
    </appender>

<!-- uncomment the appenders that you want to use

    <appender name="CLOUDWATCH" class="com.kdgregory.logback.aws.CloudWatchAppender">
        <logGroup>AppenderExample</logGroup>
        <logStream>Logback-WebApp-{date}-{hostname}-{pid}</logStream>
        <dedicatedWriter>true</dedicatedWriter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} %-5level [%thread] %logger{24} - %X{requestUUID} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="KINESIS" class="com.kdgregory.logback.aws.KinesisAppender">
        <streamName>AppenderExample</streamName>
        <layout class="com.kdgregory.logback.aws.JsonLayout">
            <appendNewlines>true</appendNewlines>
            <enableHostname>true</enableHostname>
            <enableLocation>true</enableLocation>
            <enableInstanceId>false</enableInstanceId>
            <enableAccountId>true</enableAccountId>
            <tags>applicationName=Logback-Webapp,runDate={date},environment={sysprop:environment:dev}</tags>
        </layout>
    </appender>

    <appender name="SNS" class="com.kdgregory.logback.aws.SNSAppender">
        <topicName>AppenderExample</topicName>
        <subject>Error from logback webapp</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} [%thread] %logger{24} - %X{requestUUID} - %msg%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

-->

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.kdgregory" level="debug">
<!-- uncomment the appenders that you want to use
        <appender-ref ref="CLOUDWATCH" />
        <appender-ref ref="KINESIS" />
        <appender-ref ref="SNS" />
-->
    </logger>

</configuration>
